In [2]:
import pandas as pd

In [3]:
print(pd.__version__)

1.5.3

In [5]:
#Dataframes
formula1 = {
    'cars':['Mercedes','Ferrari', 'Redbull','Aston_Martin'],
    'Constructors Championship':[7,16,6,0]
}
myconstructors = pd.DataFrame(formula1)
print(myconstructors)

           cars  Constructors
0      Mercedes             7
1       Ferrari            16
2       Redbull             6
3  Aston_Martin             0

In [9]:
#Creating a series from a simple list
gridposition = [1,2,3,4,5,6,7,8,9,10]

f1grid = pd.Series(gridposition)
print(f1grid)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [13]:
#Labels -- used to access a specified value.
print(f1grid[0:5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
#Index to name your labels
monaco_results = [1,2,3,4,5,6,7,8,9]
monacof1 = pd.Series(monaco_results,index=["Max","Alonso","Esteban","Hamilton","Russel","Gasley","Norris","Piastri","Stroll"])
print(monacof1)

Max         1
Alonso      2
Esteban     3
Hamilton    4
Russel      5
Gasley      6
Norris      7
Piastri     8
Stroll      9
dtype: int64

In [16]:
##Creating series using key:value arguemnts dictionary format -- Keys become labels(for referencing)
Driver_points = {"Max Verstappen":25, "Sergio Perez":18, "Fernando Alonso":15,"Lance Stroll":12}
results = pd.Series(Driver_points)
print(results)

Max Verstappen     25
Sergio Perez       18
Fernando Alonso    15
Lance Stroll       12
dtype: int64

In [17]:
#DataFrames 
Imola_results = {
    "Drivers":["Max Verstappen", "Sergio Perez", "Fernando Alonso","Lance Stroll"],
    "Racing Team":["Redbull","Redbull","Aston Martin","Aston Martin"],
    "Points": [25,18,15,12],
    "Performance Train": ["Redbull Power Trains","Redbull Power Trains","Mercedes Engine","Mercedes Engine" ]
}

results =pd.DataFrame(Imola_results)
print(results)

           Drivers   Racing Team  Points     Performance Train
0   Max Verstappen       Redbull      25  Redbull Power Trains
1     Sergio Perez       Redbull      18  Redbull Power Trains
2  Fernando Alonso  Aston Martin      15       Mercedes Engine
3     Lance Stroll  Aston Martin      12       Mercedes Engine

In [18]:
#Example 2
Striker_KPIs ={
    "Player Name":["Halaand","Rashford","Salah","Sancho"],
    "Expected Goals(XG)":[20,52,32,31],
    "Chances Missed":[23,45,67,89],
    "Goals per 90":[0.8,0.2,0.9,0.9]
}

football = pd.DataFrame(Striker_KPIs)
print(football)

  Player Name  Expected Goals(XG)  Chances Missed  Goals per 90
0     Halaand                  20              23           0.8
1    Rashford                  52              45           0.2
2       Salah                  32              67           0.9
3      Sancho                  31              89           0.9

In [21]:
#Locate row -- loc(return one or more rows)
#locate first item
print(football.loc[0])

#Locate from first to last
print(football.loc[0:])

Player Name           Halaand
Expected Goals(XG)         20
Chances Missed             23
Goals per 90              0.8
Name: 0, dtype: object
  Player Name  Expected Goals(XG)  Chances Missed  Goals per 90
0     Halaand                  20              23           0.8
1    Rashford                  52              45           0.2
2       Salah                  32              67           0.9
3      Sancho                  31              89           0.9

KeyboardInterrupt

In [23]:
#printing an item between 0 and 1
print(football.loc[[0,1]])

  Player Name  Expected Goals(XG)  Chances Missed  Goals per 90
0     Halaand                  20              23           0.8
1    Rashford                  52              45           0.2

In [28]:
#loading files in data Frames
#csv files -- pd.read.csv('file path')

bond_data = pd.read_csv('C:/Users/MARTIN KILOMBE/Google Drive/NEW PROPOSAL DOCUMENT/MSC Defence/MSC FINAL DATA SET.csv')
print(bond_data)

          Year  Bond_yield  CBK_Interest_rates  Inflation_Rate  \
0   01/12/2007   11.506875            8.972222        4.765000
1   01/12/2008   10.926750            8.900000       10.286667
2   01/12/2009   12.853083            7.875000       14.111667
3   01/12/2010    8.686333            6.357143        5.614167
4   01/12/2011   13.805917            9.593750        7.991667
5   01/12/2012   13.514182           16.500000       14.277500
6   01/12/2013   13.022667            8.833333        5.562500
7   01/12/2014   12.495167            8.500000        6.810833
8   01/12/2015   13.757833           10.187500        6.537500
9   01/12/2016   14.701083           10.666667        6.575833
10  01/12/2017   13.590083           10.000000        7.670833
11  01/12/2018   13.052333            9.333333        5.587500
12  01/12/2019   12.565417            8.928571        5.054167
13  01/12/2020   12.652500            7.166667        5.791667
14  01/12/2021   12.959833            7.000000        5.471667
15  01/12/2022   13.862417            7.666667        6.624167
16  01/04/2023   14.225500            9.125000        8.387500

    Economic_Growth_Rate  USD_Exchange_Rate
0                    6.9          67.466765
1                    1.5          69.003071
2                    2.7          77.339537
3                    8.1          79.261211
4                    5.1          88.866501
5                    4.6          84.522899
6                    3.8          86.125919
7                    5.0          87.923579
8                    5.0          98.517604
9                    4.2         101.497717
10                   3.8         103.411962
11                   5.6         101.298608
12                   5.1         102.012711
13                  -0.3         106.467626
14                   7.6         109.650950
15                   4.8         117.844315
16                   0.0         129.585869

In [29]:
#Tip: use to_string() to print the entire DataFrame.
print(bond_data.to_string())

          Year  Bond_yield  CBK_Interest_rates  Inflation_Rate  Economic_Growth_Rate  USD_Exchange_Rate
0   01/12/2007   11.506875            8.972222        4.765000                   6.9          67.466765
1   01/12/2008   10.926750            8.900000       10.286667                   1.5          69.003071
2   01/12/2009   12.853083            7.875000       14.111667                   2.7          77.339537
3   01/12/2010    8.686333            6.357143        5.614167                   8.1          79.261211
4   01/12/2011   13.805917            9.593750        7.991667                   5.1          88.866501
5   01/12/2012   13.514182           16.500000       14.277500                   4.6          84.522899
6   01/12/2013   13.022667            8.833333        5.562500                   3.8          86.125919
7   01/12/2014   12.495167            8.500000        6.810833                   5.0          87.923579
8   01/12/2015   13.757833           10.187500        6.537500                   5.0          98.517604
9   01/12/2016   14.701083           10.666667        6.575833                   4.2         101.497717
10  01/12/2017   13.590083           10.000000        7.670833                   3.8         103.411962
11  01/12/2018   13.052333            9.333333        5.587500                   5.6         101.298608
12  01/12/2019   12.565417            8.928571        5.054167                   5.1         102.012711
13  01/12/2020   12.652500            7.166667        5.791667                  -0.3         106.467626
14  01/12/2021   12.959833            7.000000        5.471667                   7.6         109.650950
15  01/12/2022   13.862417            7.666667        6.624167                   4.8         117.844315
16  01/04/2023   14.225500            9.125000        8.387500                   0.0         129.585869

In [ ]:
#change the number of rows displayed on the system
pd.options.display.max_rows = 70

In [38]:
#Analyzing Data
#head(shows the 10 top rows)
print(bond_data.head(10))

         Year  Bond_yield  CBK_Interest_rates  Inflation_Rate  \
0  01/12/2007   11.506875            8.972222        4.765000
1  01/12/2008   10.926750            8.900000       10.286667
2  01/12/2009   12.853083            7.875000       14.111667
3  01/12/2010    8.686333            6.357143        5.614167
4  01/12/2011   13.805917            9.593750        7.991667
5  01/12/2012   13.514182           16.500000       14.277500
6  01/12/2013   13.022667            8.833333        5.562500
7  01/12/2014   12.495167            8.500000        6.810833
8  01/12/2015   13.757833           10.187500        6.537500
9  01/12/2016   14.701083           10.666667        6.575833

   Economic_Growth_Rate  USD_Exchange_Rate
0                   6.9          67.466765
1                   1.5          69.003071
2                   2.7          77.339537
3                   8.1          79.261211
4                   5.1          88.866501
5                   4.6          84.522899
6                   3.8          86.125919
7                   5.0          87.923579
8                   5.0          98.517604
9                   4.2         101.497717

In [41]:
#Tail() -- Print the last rows of data, 
print(bond_data.tail())

          Year  Bond_yield  CBK_Interest_rates  Inflation_Rate  \
12  01/12/2019   12.565417            8.928571        5.054167
13  01/12/2020   12.652500            7.166667        5.791667
14  01/12/2021   12.959833            7.000000        5.471667
15  01/12/2022   13.862417            7.666667        6.624167
16  01/04/2023   14.225500            9.125000        8.387500

    Economic_Growth_Rate  USD_Exchange_Rate
12                   5.1         102.012711
13                  -0.3         106.467626
14                   7.6         109.650950
15                   4.8         117.844315
16                   0.0         129.585869

In [42]:
#info()-- gives info about the data
print(bond_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  17 non-null     object
 1   Bond_yield            17 non-null     float64
 2   CBK_Interest_rates    17 non-null     float64
 3   Inflation_Rate        17 non-null     float64
 4   Economic_Growth_Rate  17 non-null     float64
 5   USD_Exchange_Rate     17 non-null     float64
dtypes: float64(5), object(1)
memory usage: 944.0+ bytes
None

#3.Cleaning Data -- Empty cells, Data in wrong format, Wrong data,Duplicates.

In [43]:
#a)Empty cells -- .dropna()
drop_empty_rows = bond_data.dropna()
print(drop_empty_rows.to_string())

          Year  Bond_yield  CBK_Interest_rates  Inflation_Rate  Economic_Growth_Rate  USD_Exchange_Rate
0   01/12/2007   11.506875            8.972222        4.765000                   6.9          67.466765
1   01/12/2008   10.926750            8.900000       10.286667                   1.5          69.003071
2   01/12/2009   12.853083            7.875000       14.111667                   2.7          77.339537
3   01/12/2010    8.686333            6.357143        5.614167                   8.1          79.261211
4   01/12/2011   13.805917            9.593750        7.991667                   5.1          88.866501
5   01/12/2012   13.514182           16.500000       14.277500                   4.6          84.522899
6   01/12/2013   13.022667            8.833333        5.562500                   3.8          86.125919
7   01/12/2014   12.495167            8.500000        6.810833                   5.0          87.923579
8   01/12/2015   13.757833           10.187500        6.537500                   5.0          98.517604
9   01/12/2016   14.701083           10.666667        6.575833                   4.2         101.497717
10  01/12/2017   13.590083           10.000000        7.670833                   3.8         103.411962
11  01/12/2018   13.052333            9.333333        5.587500                   5.6         101.298608
12  01/12/2019   12.565417            8.928571        5.054167                   5.1         102.012711
13  01/12/2020   12.652500            7.166667        5.791667                  -0.3         106.467626
14  01/12/2021   12.959833            7.000000        5.471667                   7.6         109.650950
15  01/12/2022   13.862417            7.666667        6.624167                   4.8         117.844315
16  01/04/2023   14.225500            9.125000        8.387500                   0.0         129.585869

In [44]:
#b) Null values -- .dropna(inplace = True)
drop_nulls = bond_data.dropna(inplace=True)
print(drop_nulls)

None

In [46]:
#c) Filling empty values  -- mean, median, number .fillna()
fill_130 = bond_data.fillna(130, inplace=True)
print(fill_130)

#Replacing a specific column with 130 where values are NULL
bond_data[Bond_yield].fillna(130,inplace=True)

None

In [47]:
#d) Duplicates --Cheking for duplucates in every row
duplicate_check = bond_data.duplicated()
print(duplicate_check)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
dtype: bool

In [52]:
#Removing the duplicates from original dataframe --.drop_duplicates()
remove_dupluicate = bond_data.drop_duplicates(inplace=True)
print(remove_dupluicate)

None

In [53]:
#correlations --between columns .corr() example: df.corr()
correlation = bond_data.corr()
print(correlation)

C:\Users\MARTIN KILOMBE\AppData\Local\Temp\ipykernel_44312\574360617.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation = bond_data.corr()

                      Bond_yield  CBK_Interest_rates  Inflation_Rate  \
Bond_yield              1.000000            0.414138        0.143003
CBK_Interest_rates      0.414138            1.000000        0.532909
Inflation_Rate          0.143003            0.532909        1.000000
Economic_Growth_Rate   -0.327195           -0.053849       -0.352873
USD_Exchange_Rate       0.604204           -0.105272       -0.272721

                      Economic_Growth_Rate  USD_Exchange_Rate
Bond_yield                       -0.327195           0.604204
CBK_Interest_rates               -0.053849          -0.105272
Inflation_Rate                   -0.352873          -0.272721
Economic_Growth_Rate              1.000000          -0.268974
USD_Exchange_Rate                -0.268974           1.000000

In [54]:
#Plotting -- assited bymatplot lib
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'